
* {
    /* color: #fff; */
    font-family: 'Montserrat', sans-serif;
}

#landing-home {
    margin: -1%;
    border: 0px solid white;
    color: white;
    /* margin: 0; */
    width: 101.5%;
    /* background-color: rgb(27, 27, 27); */
    padding-bottom: 10%;
    background-image: linear-gradient(#231f1fee, #1e1e1e);
}

#focus {
    border: 0px solid yellow;
    margin: -2% 3% 2% 1%;
}

#playlist {
    border: 0px solid rgb(181, 13, 13);
    margin: 0% 3% 2% 1%;
    
}

#mood {
    border: 0px solid green;
    margin: -2% 3% 2% 1%;
}

#bollywood {
    border: 0px solid skyblue;
    margin: -2% 3% 2% 1%;
    /* padding-inline-start: 2%; */
}

#landing-home>div>div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#landing-home div div p {
    font-weight: 500;
}

#f-show {
    display: grid;
    width: 100%;
    /* height: 400px; */
    grid-template-columns: repeat(5, 1fr);
    gap: 2%;

}

#p-show {
    display: grid;
    width: 100%;
    
    grid-template-columns: repeat(5, 1fr);
    gap: 2%;

}

#m-show {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    gap: 2%;
}

#b-show {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    gap: 2%;
}


/* js starts here */
#ccdiv {
    border: 2px solid white;
    height: 300px;
    background-color: #161616d0;
    padding: 5px;
    padding-bottom: -15px;
    border-radius: 5px;

}

.lpimage {
    margin: 5%;
    height: 50%;
    width: 90%;
}

.lpimage {
    padding-top: -2%;
    border: 0px solid green;
    height: 160px;
    background-color: yellow;
    border-radius: 5px;
}

.lptitle {
    border: 0px solid red;
    height: 45px;
    margin-top: -10px;
    margin-bottom: -10px;
    padding-left: 5px;
}

.des {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    border: 0px solid skyblue;
    padding-top: 10px;
    font-size: small;
    padding-left: 3px;
    height: 55px;
    font-weight: 600;
    

}
.has-overflow:after {
    content: "..."
  }

.btn {
    height: 50px;
    width: 50px;
    border: 0px solid yellow;
    margin-left: 60%;
    position: relative;
    margin-top: -103%;
}

.play {

    height: 100%;
    width: 100%;
    border: 0px solid yellow;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    bottom: 100px;
    opacity: 0;

    transition: 1s;

}

#ccdiv:hover .play {
    bottom: 0px;
    opacity: 1;
    cursor: pointer;
    

}

#ccdiv:hover {
    box-shadow: rgba(79, 74, 74, 0.25) 0px 54px 55px,
     rgba(71, 68, 68, 0.12) 0px -12px 30px, 
    rgba(59, 56, 56, 0.12) 0px 4px 6px,
     rgba(69, 65, 65, 0.17) 0px 12px 13px,
      rgba(51, 48, 48, 0.09) 0px -3px 5px;
      /* background-color: rgb(37, 37, 37); */
      background-color: rgb(31, 29, 29);
}

#show-login-page {
    margin-top: 5%;
    height: 70%;
    width: 0;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

#page-outer {
    position: relative;
    border-radius: 7px;
    display: flex;
    padding: 70px;
    gap: 50px;
    /* padding: 20%; */
    background-image: linear-gradient(#720000d6, #1e1e1e);
    /* z-index: 19; */

}

#page-img {
    width: 300px;
    height: 300px;
    margin-left: 25%;
    border: 0px solid yellow;
}

#notify {
    text-align: center;
    max-width: 300px;
    padding-top: 30px;
    
}

#notify div:nth-child(1) {
    font-size: 25px;
    line-height: 40px;
    font-weight: bolder;
    word-wrap: break-word;
}

#notify div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
#notify div:nth-child(2) button{
    color: black;
    height: 40px;
    width: 60%;
    border-radius: 18px;
    background-color: rgb(30,215,96);
    border: none;
    margin-top: 3%;
    cursor: pointer;
    
}
#notify div:nth-child(2) h4{
    color: #fff;
    height: 38px;
    width: 60%;
    border-radius: 18px;
    border: 2px solid #fff;
    padding-top: 2.5%;
    cursor: pointer;

}
#notify div:nth-child(3) h5{
    cursor: pointer;
}

#close{
    color: rgb(255, 255, 255);
    height: 25px;
    display: block;
    background-color: black;
    cursor: pointer;
    margin-left: 37%;
    margin-top: -8%;
    border-radius: 5px;
    padding: 0 20px;
    z-index: 60;
    position: relative;
}
.appendedimg{
    height: 100%;
    width: 100%;
}
#b-navbar{
    background-color: rgb(15,15,15);
    color: #fff;
    display: grid;
    /* width: 104%; */
    height: 70px;
    padding: 0 20px;
    grid-template-columns: repeat(6, 1fr);
    
}
#b-navbar button{
    border: 0px solid orange;
    background-color: rgb(15,15,15);
    width: 30%;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 20px;
    color: white;
    
    
}
#b-navbar button:nth-child(6){
    border: 0px solid green;
    width: 50%;  
    margin-left: 40%;
    background: #fff;
    color: #000;
    height: 60%;
    border-radius: 30px;
    font-weight: 700;      
} 
#b-navbar button:nth-child(5){
    border: 0px solid green;
    width: 50%;  
    margin-left: 90%;
    height: 60%;
    font-weight: 700;     
}
#b-navbar button:nth-child(4){
    border: 0px solid green;
    width: 10%;  
    margin-left: 180%;
    height: 60%;
}
#b-navbar button:nth-child(3){
    border: 0px solid green;
    width: 40%;  
    margin-left: 230%;
    height: 60%;
    font-weight: 700;     
}
#b-navbar button:nth-child(2){
    border: 0px solid green;
    width: 40%;  
    margin-left: 290%;
    height: 60%;
    font-weight: 700;     
}
#b-navbar button:nth-child(1){
    border: 0px solid green;
    width: 40%;  
    margin-left: 350%;
    height: 60%;
    font-weight: 700;     
}





@media screen and (max-width:800px) {
    #f-show {
        grid-template-columns: repeat(3, 1fr);
    }
    
    #p-show {
        grid-template-columns: repeat(3, 1fr);    
    }
    
    #m-show {
        grid-template-columns: repeat(3, 1fr);
    }
    
    #b-show {
        grid-template-columns: repeat(3, 1fr);
    }


    #b-navbar button:nth-child(1){
        margin-left: 0;
    }
    #b-navbar button:nth-child(2){
        margin-left: 0;
    }
    #b-navbar button:nth-child(3){
        margin-left: 0;
    }
    #b-navbar button:nth-child(4){
        margin-left: 0;
        width: 100%;
    }
    #b-navbar button:nth-child(5){
        margin-left: 0;
        width: 100%;
    }
    #b-navbar button:nth-child(6){
        margin-left: 0;
        width: 100%;
    }

}

@media (max-width : 700px) {
    #f-show {
        grid-template-columns: repeat(2, 1fr);
        gap: 5%;
        margin-bottom: 100px;
    }
    #f-show img{
        height:60%;
    }

    
    
    #p-show {
        grid-template-columns: repeat(2, 1fr);    
        gap: 5%;
        margin-bottom: 100px;
    }
    #p-show img{
        height:  60%;
    }
    
    #m-show {
        grid-template-columns: repeat(2, 1fr);
        gap: 5%;
        margin-bottom: 100px;
    }
    #m-show img{
        height: 60%;
    }
    
    #b-show {
        grid-template-columns: repeat(2, 1fr);
        gap: 5%;
        margin-bottom: 100px;
    }
    #b-show img{
        height: 60%;
    }

    #b-navbar button:nth-child(1){
        margin-left: 0;
    }
    #b-navbar button:nth-child(2){
        margin-left: 0;
    }
    #b-navbar button:nth-child(3){
        margin-left: 0;
    }
    #b-navbar button:nth-child(4){
        margin-left: 0;
        width: 100%;
    }
    #b-navbar button:nth-child(5){
        margin-left: 0;
        width: 100%;
    }
    #b-navbar button:nth-child(6){
        margin-left: 0;
        width: 100%;
    }

}

@media ( max-width : 500px){
    #f-show {
        grid-template-columns: repeat(1, 1fr);
        gap: 5%;
        margin-bottom: 300px;
        padding: 0 50px;
    }
    #f-show img{
        height:60%;
    }
    
    #p-show {
        grid-template-columns: repeat(1, 1fr);    
        gap: 5%;
        margin-bottom: 300px;
        padding: 0 50px;
    }
    #p-show img{
        height:  60%;
    }
    
    #m-show {
        grid-template-columns: repeat(1, 1fr);
        gap: 5%;
        margin-bottom: 300px;
        padding: 0 50px;
    }
    #m-show img{
        height: 60%;
    }
    
    #b-show {
        grid-template-columns: repeat(1, 1fr);
        gap: 5%;
        margin-bottom: 300px;
        padding: 0 50px;
    }
    #b-show img{
        height: 60%;
    }


    #landing-home>div>div:nth-child(1){
        justify-content: space-around;
    }
    #b-navbar{
        display: flex;
        /* justify-content: flex-start; */
        width: 90%;
        
    }

    #b-navbar button:nth-child(1){
        font-weight: 100;
        font-size: small;

    }
    #b-navbar button:nth-child(2){
        /* margin: 0; */
        font-weight: 100;
        font-size: small;
        display: none;
    }
    #b-navbar button:nth-child(3){
        /* margin: 0; */
        font-weight: 100;
        font-size: small;

    }
    #b-navbar button:nth-child(4){
        margin: 0;
        font-weight: 100;
        font-size: small;
        display: none;
    }
    #b-navbar button:nth-child(5){
        /* margin: 0; */
        font-weight: 100;
        font-size: small;
    }
    #b-navbar button:nth-child(6){
        /* margin-left: 0; */
        /* width: 100%; */
        font-size: small;
    }
}


/* @media (max-width : 1000px) {
    #side-bar-container{
        width: 150px;
    }
    {
        width: 20px;
        margin-top: 10px;
        margin-left: 8px;
        margin-right: 10px;
    }
} */