
      #body_container_for_search {
        /* background-color: antiquewhite; */
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        padding: 20px;
      }

      #body_container_for_search > div {
        /* background-color: aqua; */
        width: 100%;
        height: 223px;
        border: none;
        border-radius: 8px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        
      }

      #body_container_for_search > div img {
        display: block;
        height: 100px;
        width: 100px;
        position: absolute;
        transform: rotate(25deg) translate(18%, -2%);
        right: 0;
        bottom: 0;
      }
      .cat-title {
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
        margin-block: 0px;
        font-size: 1.5rem;
        font-weight: 700;
        color: white;
        max-width: 100%;
        overflow-wrap: break-word;
        padding: 16px;
        position: absolute;
        object-fit: cover;
        object-position: center center;
        font-size: x-larger;
      }




      #search_navbar{
          display: flex;
          justify-content: space-between;
          align-items: center;
          /* background-color: #121212 ; */
          width: 100%;
          height: inherit;
          padding: 0 30px;
          
      }
      #search_navbar>div:first-child{
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 55%;
          margin: 2px;
      }
      .page_change_btm{
          /* color: white; */
          /* background-color:#050505 ; */
          width: 40px;
          height: 40px;
          border-radius: 80%;
          cursor: pointer;
          border: 1px solid rgb(57, 55, 55);

      }
      #search_input_div{
          border: 2px solid rgb(0, 0, 0);
          border-radius: 40px;
          width: 70%;
          margin: 10px;
          padding: 0 3px;
          background-color: white;
          display: flex;
          align-items: center;
          justify-content: center;
      }
      #search_input_div button{
          border: none;
          background-color:white;
          width: 10%;
          cursor: pointer;
          color: black;
          font-size: larger;
      }
      #search_input_div input{
          width: 75%;
          height: 35px;
          outline: none;
          border: none;
          font-size: 12px;
      }
      #profile_in_search_page{
          border-radius: 40px;
          width: 120px;
          color: white;
          border: 0px solid white;
          height: 35px;
          font-size: small;
          margin: 10px;
          background-color: #050505 ;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 4px;
          cursor: pointer;
          
         
      }
      #profile_in_search_page button{
          border: none;
          color: white;
          margin: 0 3px;
          background-color: #050505 ;
          cursor: pointer;
          font-size: larger;
      }
  
      /* css for search result */

      #search_result{
        width: 100%;
      }
      #top_result{
        display: flex;
        width: 100%;
      }
      .result_title{
        color: white;
        font-size: x-large;
        font-weight: 600;
      }
      #top_result_song{
        width: 35%;
        /* background-color: #121212; */
        padding:0 10px;
        margin-right: 10%;
      }
      #result_song_name{
        font-size: x-large;
        margin-bottom: 0px;
      }
      #top_result_song>div{
        background-color: rgb(59, 62, 66);
        cursor: pointer;
        color: white;
        border-radius: 8px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        
        /* line-height: 0.1px; */
        width: 100%;
        /* height: 200px; */

        /* white-space: nowrap; */
        /* overflow: hidden; */
        /* text-overflow: ellipsis; */
        position: relative;
      }
      #top_result_song>div img{
        width: 80px;
        border-radius: 10px;
        margin-bottom: 30px;
      }
      .result_song_dec{
        color: rgb(40, 38, 38);
        font-weight: 600;
        font-size: small;
      }
      #top_result_song>div button{
        cursor: pointer;
        z-index: 1;
        align-self: flex-end;
        width: 60px;
        height: 60px;
        font-size: xx-large;
        padding: 0px;
        border-radius: 80px;
        text-align: center;
        border: none;
        color: white;
        background-color: rgb(49, 169, 49);
        position:absolute;
        bottom: 10%;
        transition: 1s;
        
        /* visibility: hidden; */
        opacity: 0;
      }
      #top_result_song>div:hover button{
        /* visibility: visible; */
        opacity: 1;
        
      }
    

      /*      */
      #result_song{
        width: 50%;
       
      }

      #result_song>div{
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
        color: white;
        padding: 2px 5px;
        border-radius: 10px;
        cursor: pointer;
        margin: 15px 0;
      }

      #result_song>div:hover{
        background-color: rgb(59, 62, 66);
      }
      .backgroundimgchange{
        width: 60px;
        position: relative;
        display: flex;
        margin-right: 10px;
      }
      
      #result_song>div img{
        width: 100%;
      }
      .backgroundimgchange button{
        cursor: pointer;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border: none;
        /* background-color: red; */
      }
      .backgroundimgchange button i{
        z-index: 2;
        position:absolute;
        font-size: larger;
        color: white;
      }

      .fad_color{
        font-size: x-small;

      }
      #result_song>div>div:nth-child(2){
        line-height: 1px;
        width: 65%;
      }
      #result_song>div>div:nth-child(3) p{
        word-spacing: 15px;
        font-size: small;
      }

      .PlayHideShow{
        visibility:hidden;
      }
      #result_song>div:hover .PlayHideShow{
        visibility: visible;
      }

      /* <i class="fa-solid fa-heart-pulse"></i> */



      /* artists part */
      .result_title{
        margin-left: 10px;
        color: white;
      }
      #result_Artists>div{
        display: flex;
        align-items: center;
      }
      #result_Artists>div>div{
        background-color:#181818 ;
        color: white;
        /* height: 900px; */
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        
        line-height: 10px;
        cursor: pointer;
        width: 24%;
        
      }
      #result_Artists>div>div:hover{
        background-color: #3a3939d2;
      }
      #result_Artists>div>div img{
        width: 100%;
        height: 180px;
        /* margin: 10px 10%; */
        border-radius: 100%;
      }
      #result_Artists>div>div p:nth-child(2){
        font-weight: 600;
        letter-spacing: 1px;
      }
      #result_Artists>div>div p:nth-child(3){
        color: #9e9e9e;
        font-size: small;
      }


      /* albums part */




      
      #result_albums>div{
        display: flex;
        align-items: center;
      }
      #result_albums>div>div{
        background-color:#181818 ;
        color: white;
        /* height: 900px; */
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 400px;
        line-height: 10px;
        cursor: pointer;
        width: 25%;
        height: 300px;
        
      }
      #result_albums>div>div:hover{
        background-color: #3a3939d2;
      }
      #result_albums>div>div img{
        width: 100%;
        height: 200px;
        /* margin: 10px 10%; */
        border-radius: 10%;
      }
      #result_albums>div>div p:nth-child(2){
        font-weight: 600;
        line-height: 20px;
      }
      #result_albums>div>div p:nth-child(3){
        color: #9e9e9e;
        font-size: small;
        line-height: 18px;
      }



      @media screen and (max-width:800px) {
         #body_container_for_search {
        grid-template-columns: repeat(3, 1fr);
        margin: 20px;
      }
      #search_input_div input{
        width: 60%;
      }

      #search_input_div button{
        margin: 0 10px;
      }



      }

       @media screen and (max-width:700px) {
           #body_container_for_search {
            grid-template-columns: repeat(2, 1fr);
            margin: 20px;
          }
          #profile_in_search_page{
            display: none;
          }

          #search_input_div{
            margin-left: 30px;
            width: 200px;
          }
          #search_input_div input{
            width: 100px;
            margin: 0 10px;
          }
    
          #search_input_div button{
            margin: 0;
          }



       }

         @media screen and (max-width:500px) {
           #body_container_for_search {
            grid-template-columns: repeat(1, 1fr);
            margin: 20px;
          }

              #body_container_for_search > div {
                width: 80%;
                height: 223px;
                margin-left: 40px;
              }

              #profile_in_search_page{
                display: none;
              }
              #search_input_div{
                margin-left: 30px;
                width: 200px;
              }
              #search_input_div input{
                width: 100px;
                margin: 0 10px;
              }
        
              #search_input_div button{
                margin: 0;
              }
            

       }
