@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto&display=swap');
body{
    margin: 0;
    font-family: 'poppins', sans-serif;
    font-family: 'roboto', sans-serif;
    background-color: rgb(11, 11, 11);
    color: white;
}
#top_container{
    display: flex;
    /* background-color: #c5b73e; */
 
}
#Side-Bar-Container{
    /* background-color: rgb(0, 0, 0); */
    position: fixed;
    width: 300px;
    height:100%;
}

#right_top_container{
    width: 100%;
    height: 550px;
    margin-left: 300px;
}
#Nav-Bar-Container{
    background-color: rgb(0, 0, 0);
    /* position: fixed; */
    height: 65px;
    width: 76%;
    z-index: 10;
 
}




 
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
#Main-container{
    /* position: fixed; */
    margin: 70px 0 0px 0px;
    padding: 10px;
    /* background-color: #121212; */
}
#Footer-Container{
    background-color: rgb(40, 40, 37);
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 100%;
    z-index: 10;
}
.sidebar {
    width: 333px;
    height: 100%;
    overflow-x: hidden;
    position: relative;
    /* background-color: #eee; */
 }
 
 .resizer {
    width: 2px;
    top: 0;
    right: 0;
    cursor:col-resize;
    height: 100%;
    position: absolute;
    background-color: green;
 }

 label{
    position: absolute;
    width: 48px;
    height: 25px;
    right: 20px;
    top: 20px;
    border: 2px solid gray;
    border-radius: 20px;
    margin-top: 12px;
    
}
label:before{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: 1px;
    top: 1px;
    border-radius: 50%;
    cursor: pointer;
    background: rgb(255, 255, 255);
    transition: 0.4s;
    color: black;
}
label.active:before{
    left: 24px;
    background: rgb(0, 0, 0);
}
body.night{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.zyx{
    display: none;
}
@media screen and (max-width:800px) {
    #Side-Bar-Container{
    /* background-color: rgb(0, 0, 0); */
    position: fixed;
    width: 90px;
    height:100%;
}
#right_top_container{

    margin-left: 100px;
}
#dark{
    visibility: hidden;
}
.xyz{
    visibility: hidden;
    display: none;
}

#Nav-Bar-Container{
    width: 86%;
}

#Footer-Container{
    display: none;
}
.zyx{
    display: block;
}

}

body::-webkit-scrollbar {
    display: none;
}

